<!--
        <ion-nav-view></ion-nav-view>

-->
        <ion-tabs class="tabs-positive tabs-icon-only">

            <ion-tab title="Search" icon-on="ion-ios-search-strong" icon-off="ion-ios-search">
                <!-- Tab 1 content -->
                
            </ion-tab>

            <ion-tab title="Favorites" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline">
                <!-- Tab 2 content -->
            </ion-tab>

            <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
                <!-- Tab 3 content -->
            </ion-tab>

        </ion-tabs>
<!--
		<ion-footer-bar	class="bar-stable">
			<div class="button-bar">
				<button	class="button button-assertive button-outline icon-left ion-trash-b" ng-click="app.clear()">clear</button>
				<button	class="button button-stable icon-left ion-information-circled" ng-click="app.toAbout()">about</button>
			</div>
		</ion-footer-bar>
-->
